{{ bind9_log_path }}/bind.log {
  {{ bind9_logrotate_frequency }}
  missingok
  rotate {{ bind9_logrotate_rotate_after }}
  compress
  delaycompress
  notifempty
  create 644 bind bind
  postrotate
    /usr/sbin/invoke-rc.d bind9 reload > /dev/null
  endscript
}